<h3>TodoList</h3>
<div>
  <ul>
    <li *ngFor="let todo of todos; let i = index" [style.color]="'blue'">
      <!-- <input ng-model="newTodo" > -->

      <div>
        {{ i }}: {{ todo }}
        <div *ngIf="TodoEmpty()">nothing todo</div>

        <input ng-model="todoUpdated" >
         <button (click)="updateTodo(todo,todoUpdated)">update todo</button>
         <!-- <input type="text" [(ngModel)]="todoUpdated" /> -->
        <button
          (click)="deleteTodo(todo)"
          [ngStyle]="{ color: buttonColor, 'font-size': '24px' }"
        >
          delete todo
        </button>
      </div>
    </li>
  </ul>
  <input type="text" [(ngModel)]="newTodo" />
  <button (click)="addTodo(newTodo)">Add todo</button>
  <!-- <ng-template [ngIf]="TodoEmpty()"><div>nothing todo</div></ng-template> -->
  <div *ngIf="TodoEmpty()">nothing todo</div>

</div>
