h2.title {
  text-align: center;
  color: #1a6962;
}
button.buttonDelete {
  background-color: #2f6e70;
  font-size: 19px;
  font-family: initial;
  color: snow !important;
  border: none;
  border-radius: 9px;
}
input.add.ng-untouched.ng-pristine.ng-valid {
  width: 50%;
  margin: 4%;
  margin-left: 17%;
  border: solid 1px;
  color: #17a2b8;
}
ul.todo {
  display: grid;
  justify-content: center;
}
.todo {
  margin: 3%;
  width: 100%;
}
